.head{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      padding: 20px 0;
      background: darkcyan;
}

.head__text {
      font-size: 21px;
      font-weight: 800;
      color:white;
      letter-spacing: 3px;
}

