.element {
      width: 80vw;
      margin: 10px auto;
      display: flex;
      justify-content: center;
}

.input {
      outline: 2px solid black;
      margin-right: 10px;
      width: 100%;
}

.btn {
      border-radius: 2px;
      padding: 6px;
      background: grey;
      color: white;
      font-size: 14px;
      font-weight: 700;
}